* {
  margin: 0;
  padding: 0; }

header {
  background: linear-gradient(to right, rgba(44, 83, 99, 0.452), #203a4373, #0F2027), url(../img/hombre-negocios-crear-casa-diseno-u-hogar_35761-59.png);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.nav-link {
  color: white; }

.navbar-brand {
  color: white; }

.textos__header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .textos__header__h1 {
    font-size: 50px;
    color: white; }

h1 {
  color: #ffffff; }

h2 {
  color: #ffffff;
  font-style: italic;
  text-align: center; }

h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  text-align: center; }

.contenedor__footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  border-bottom: 1px solid #ccc; }
  .contenedor__footer__text {
    text-align: center;
    justify-content: center; }
    .contenedor__footer__text__h4 {
      color: white;
      border-bottom: 3px solid #2c5364;
      padding-bottom: 5px;
      margin-bottom: 10px; }
    .contenedor__footer__text__p {
      color: #ccc;
      text-align: center; }

.color-header-footer {
  background-color: #212529;
  padding: 10px; }

@media screen and (max-width: 500px) {
  .contenedor__footer {
    flex-direction: column; }
  .content__footer__text {
    margin-bottom: 20px;
    text-align: center; } }

.sec {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.bot-sec {
  display: flex;
  width: fit-content;
  margin: auto;
  background: #000;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 6px; }

.us {
  text-align: start; }

#galery img {
  width: 100%;
  height: 200px;
  border-radius: 15px; }
  #galery img__col-lg-4 {
    padding: 15px;
    margin: 0 !important; }
  #galery img:hover {
    border: 1px solid #9c9c9c;
    box-shadow: 2px 2px 2px 2px; }

.contenedor H3 {
  color: black; }

.galeria__port {
  display: flex;
  justify-content: space-evenly;
  padding: 15px; }

.galeria__port__imagen {
  width: 40%;
  height: 300px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); }

.galeria__port__imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.galeria__port__imagen__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(127, 126, 134, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.galeria__port__imagen__hover a {
  text-decoration: none; }

.galeria__port__imagen__hover p {
  color: #050505;
  font-size: 2em;
  text-align: center; }

.galeria__port__imagen:hover .galeria__port__imagen__hover {
  transform: scale(1); }

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

.card-s img {
  width: 15%; }

.accordion {
  width: 70%;
  padding: 1.5rem;
  margin: auto; }

.contenedor-contacto {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }

input {
  width: 100%;
  border: 1px solid #000;
  padding: 1em; }

textarea {
  width: 100%;
  border: 1px solid #000;
  padding: 1em; }

.wrapper {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9); }

.contacto {
  background: #203a4373;
  color: #fff;
  border-radius: 6px; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }

.mensaje {
  grid-column: 1 / 3; }

.row {
  padding: 30px;
  margin: auto; }

.botonGris {
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.boton {
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px; }

.botonAzul {
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #212529;
  color: white; }

.botonGris {
  background-color: #303030;
  color: white; }
