* {
  margin: 0;
  padding: 0; }

header {
  background: linear-gradient(to right, rgba(44, 83, 99, 0.452), #203a4373, #0F2027), url(./img/hombre-negocios-crear-casa-diseno-u-hogar_35761-59.png);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.textos__header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .textos__header__h1 {
    font-size: 50px;
    color: white; }

h1 {
  color: #ffffff; }

.dropdown-toggle {
  color: #ffffff; }

.navbar-brand {
  color: #ffffff; }

.btn-outline-success {
  color: white;
  border: solid 1px #ffffff; }

.contenedor__footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  border-bottom: 1px solid #ccc; }

.contenedor__footer__text h4 {
  color: white;
  border-bottom: 3px solid #2c5364;
  padding-bottom: 5px;
  margin-bottom: 10px; }

.sec {
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.bot-sec {
  display: flex;
  width: fit-content;
  margin: auto;
  background: #000;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 6px; }

.us {
  text-align: start; }

#galery img {
  width: 100%;
  height: 200px;
  border-radius: 15px; }

#galery .col-lg-4 {
  padding: 15px;
  margin: 0 !important; }

#galery img:hover {
  border: 5px solid #ffffff; }
