
.sec{
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-sec{
    display: flex;
    width: fit-content;
    margin: auto;
    background: #000;
    color:#fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 6px;
}

.us{
    text-align: start;
}