#galery img {
    width: 100%;
    height: 200px;
    border-radius: 15px;

    &__col-lg-4{
        padding: 15px;
        margin: 0 !important;
    }

    &:hover{
        border: 1px solid #9c9c9c;
    box-shadow: 2px 2px 2px 2px;
    }  
}