.contenedor-contacto {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

input {
    width: 100%;
    border: 1px solid #000;
    padding: 1em;
}

textarea {
    width: 100%;
    border: 1px solid #000;
    padding: 1em;
}

.wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

.contacto {
    background: #203a4373;
    color: #fff;
    border-radius: 6px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.mensaje {
    grid-column: 1 / 3;
}

button {
    background: lightgrey;
    width: 100%;
    border: 0;
    border: 1px solid #000;
    padding: 1em;
}

button:hover,
button:focus {
    background: #203a4373;
    outline: 0;
}
