.portafolio {
    background: #f2f2f2;

}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
}

.imagen-port {
    width: 30%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(248, 3%, 51%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria a{
    text-decoration: none;
}

.hover-galeria p {
    color: rgb(5, 5, 5);
    font-size: 2em;
    text-align: center;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}