*{
    margin: 0;
    padding: 0;
}

.header{
        background: linear-gradient(to right, hsla(198, 39%, 28%, 0.452), #203a4373, #0F2027), url(../img/hombre-negocios-crear-casa-diseno-u-hogar_35761-59.png);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
}

.textos__header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__h1{
        font-size: 50px;
    color: white;        
    }
}

.contenedor__footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1px solid #ccc;
}

.contenedor__footer__text h4 {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid #2c5364;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
