* {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, hsla(198, 39%, 28%, 0.452), #203a4373, #0F2027), url(../img/hombre-negocios-crear-casa-diseno-u-hogar_35761-59.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.navbar-nav {
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.nav-link {
    color: white;
    border-radius: 6px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;

    &::before {
        background: #ffffff;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: all 0.6s ease;
    }
}

.link1::before {
    width: 100%;
    height: 0%;
}

.link1:hover::before {
    height: 100%;
}

.navbar-brand {
    color: white;
}

.textos__header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__h1 {
        font-size: 50px;
        color: white;
    }
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}


.contenedor__footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1px solid #ccc;

    &__text {
        text-align: center;
        justify-content: center;

        &__h4 {
            color: rgb(255, 255, 255);
            border-bottom: 3px solid #2c5364;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        &__p {
            color: #ccc;
            text-align: center;
        }
    }
}

.color-header-footer {
    background-color: map-get($colores, "color-header-footer");
    padding: 10px;
}


@media screen and (max-width: 500px) {

    .contenedor__footer {
        flex-direction: column;
    }

    .content__footer__text {
        margin-bottom: 20px;
        text-align: center;
    }
}