.galeria__port {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.galeria__port__imagen {
    width: 40%;
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.galeria__port__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.galeria__port__imagen__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(248, 3%, 51%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.galeria__port__imagen__hover a{
    text-decoration: none;
}

.galeria__port__imagen__hover p {
    color: rgb(5, 5, 5);
    font-size: 2em;
    text-align: center;
}

.galeria__port__imagen:hover .galeria__port__imagen__hover {
    transform: scale(1);
}