* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


/* Etiquetas */

header {
    width: 100%;
    height: 500px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, hsla(198, 39%, 28%, 0.452), #203a4373, #0F2027), url(./img/pexels-frans-van-heerden-1438832.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.card-img-overlay{
    /* background-color: #0F2027; */
    height: 200px;
}


/* body {
    font-family: cursive;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

li {
    display: inline-block;
    justify-content: flex-end;
} */

/* Header */

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.colors{
    color:#0F2027;

}

.bs-btn-hover-border-color{
    color: #000;
}



.titulo {
    color: blueviolet;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: white;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Seccion sobre nosotros */

main .sobre-nosotros {
    padding: 10px 0 20px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 50%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 5px;
}

.contenido-textos span {
    background: #4d0686;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 20px;
    padding: 2px;
    margin-right: 5px;
}

.contenido-textos {
    font-family: cursive;
    padding: 30px 0px 60px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */

.portafolio {
    background: #f2f2f2;

}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.imagen-port {
    width: 30%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p {
    color: white;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* Clientes */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #0F2027;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

}

.cards .card .contenido-texto-card {
    width: 60%;
    color: white;
}

.cards .card .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/* Nuestros srvicios */

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
    border: cornflowerblue solid 1px;
    border-radius: 15px;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

/* Cuando aplico GRID y lo hago responsive en el footer solo me aparece la direccion!!! */

.content-foot {
    text-align: center;
}

.content-foot h4 {
    color: white;
    border-bottom: 3px solid #2C5364;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foot p {
    color: #ffffff;
}

/* Seccion Comprar */

#galery img{
    width: 100%;
    height: 300px;
}

#galery .col-lg-4{
    padding: 25px;
    margin: 0 !important;
}

#galery img:hover{
    border: 5px solid #ffffff;
}


/* Formulario de contacto */

.contenedor-contacto {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

input {
    width: 100%;
    border: 1px solid #000;
    padding: 1em;
}

textarea {
    width: 100%;
    border: 1px solid #000;
    padding: 1em;
}

.wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}



.contacto {
    background: #203a4373;
    color: #fff;
    border-radius: 6px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


.mensaje {
    grid-column: 1 / 3;
}

button {
    background: lightgrey;
    width: 100%;
    border: 0;
    border: 1px solid #000;
    padding: 1em;
}

button:hover,
button:focus {
    background: #203a4373;
    outline: 0;
}

@media (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper>* {
        padding: 2em 2em;
    }
}

@media screen and (max-width: 900px) {
    header {
        background-position: center;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos {
        width: 90%;
    }

    .imagen-about-us {
        width: 90%;
    }

    /* Galeria */

    .imagen-port {
        width: 44%;
    }

    /* Clientes */

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    /* Servicios */

    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind {
        width: 100%;
        text-align: center;
    }

    .servicio-ind img {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav a {
        margin-right: 5px;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }

    /* about-us */

    .imagen-about-us {
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    .imagen-port {
        width: 99%;
    }

    /* Clientes */

    .cards .card {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Footer */

    .contenedor-footer {
        flex-direction: column;
    }

    .content-foot {
        margin-bottom: 20px;
        text-align: center;
    }
}



.card img{
    width: 15%;
}

.changeColor{
    color: #4d0686;
    font-weight: 900;
}

.card{
    text-align: center;
}
.card-body{
    text-align: justify;
}
.card-body h5{
    text-align: start;
}

.highlighted{
    font-weight: 900;
}

.card-title{
    text-align: center;
    background-color: #2C5364;
    border-radius: 15px;
    color: white;
}


/* seccion acerca de */

.boton-text{
    text-align: center;
    align-self: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

.boton{
    background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
    color: #ffffff;
    display: inline-block;
    padding: 10px 10px;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5 s infinite;
}

@keyframes pulse{
    0%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256 , .1);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256 , .0);
    }
    100%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256 , .0);
    }
}


.dropdown-toggle{
    color: #ffffff;
}

.navbar-brand{
    color: #ffffff;
}

.btn-outline-success{
    color: white;
    border: solid 1px #ffffff;
}

