/* ------------------------------------------SECCION VENTAS-------------------------------------------------*/

/* ----------------------------------------------HEADER-----------------------------------------------------*/

header {
    background: linear-gradient(to right, hsla(198, 39%, 28%, 0.452), #203a4373, #0F2027), url(./img/hombre-negocios-crear-casa-diseno-u-hogar_35761-59.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.dropdown-toggle{
    color: #ffffff;
}

.navbar-brand{
    color: #ffffff;
}

.btn-outline-success{
    color: white;
    border: solid 1px #ffffff;
}

header .textos__header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textos__header h1 {
    font-size: 50px;
    color: white;
}
/* ------------------------------------------FORMULARIO CONTACTO--------------------------------------------*/

.forms{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea{
    min-height: 100px;
    max-width: 200px;
    max-width: 100%;
}