* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* --------------------------------------------------SECCION HEADER-------------------------------------------------- */

header {
    background: linear-gradient(to right, hsla(198, 39%, 28%, 0.452), #203a4373, #0F2027), url(./img/hombre-negocios-crear-casa-diseno-u-hogar_35761-59.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

h3{
    color: white;
}

h4{
    color: #ccc;
}

h5{
    text-align: center;
}

h6{
    color: white;
}

.dropdown-toggle{
    color: #ffffff;
}

.navbar-brand{
    color: #ffffff;
}

.btn-outline-success{
    color: white;
    border: solid 1px #ffffff;
}

header .textos__header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textos__header h1 {
    font-size: 50px;
    color: white;
}

/* --------------------------------------------------SECCION PORTFOLIO-------------------------------------------------- */

.galeria__port {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.galeria__port__imagen {
    width: 40%;
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.galeria__port__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.galeria__port__imagen__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(248, 3%, 51%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.galeria__port__imagen__hover a{
    text-decoration: none;
}

.galeria__port__imagen__hover p {
    color: rgb(5, 5, 5);
    font-size: 2em;
    text-align: center;
}

.galeria__port__imagen:hover .galeria__port__imagen__hover {
    transform: scale(1);
}

/* --------------------------------------------------SECCION CLIENTES-------------------------------------------------- */

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.card-s img{
    width: 15%;
}

/* --------------------------------------------------SECCION FOOTER-------------------------------------------------- */

footer {
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor__footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1px solid #ccc;
}


.contenedor__footer__text {
    text-align: center;
    justify-content: center;
}

.contenedor__footer__text__h4 {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid #2c5364;
    padding-bottom: 5px;
    margin-bottom: 10px;
    justify-content: center;
}

.contenedor__footer__text__p{
    color: rgb(255, 255, 255);
    text-align: center;
}


/* --------------------------------------------------SECCION CONTACTO-------------------------------------------------- */

.row{
    padding: 30px;
    margin: auto;
}

/* ------------------------------------------------SECCION ACERCA DE------------------------------------------------ */

.sec{
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-sec{
    display: flex;
    width: fit-content;
    margin: auto;
    background: #000;
    color:#fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 6px;
}

.us{
    text-align: start;
}

/* --------------------------------------------------SECCION UNITE-------------------------------------------------- */

.accordion{
    width: 70%;
    padding: 1rem;
    margin: auto;
}

/* --------------------------------------------------SECCION FOOTER-------------------------------------------------- */

@media screen and (max-width: 500px) {

    .contenedor__footer {
        flex-direction: column;
    }

    .content__footer__text {
        margin-bottom: 20px;
        text-align: center;
    }
}



.contenedor__card{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}
