* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* ------------------------------------------------HEADER------------------------------------------------ */

header {
    background: linear-gradient(to right, hsla(198, 39%, 28%, 0.452), #203a4373, #0F2027), url(./img/hombre-negocios-crear-casa-diseno-u-hogar_35761-59.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

h3{
    color: white;
}

h4{
    color: white;
}

h6{
    color: white;
}

.dropdown-toggle{
    color: #ffffff;
}

.navbar-brand{
    color: #ffffff;
}

.btn-outline-success{
    color: white;
    border: solid 1px #ffffff;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: white;
}

/* ------------------------------------------------SECCION PORTFOLIO-------------------------------------- */

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.imagen-port {
    width: 30%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(248, 3%, 51%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria a{
    text-decoration: none;
}

.hover-galeria p {
    color: rgb(5, 5, 5);
    font-size: 2em;
    text-align: center;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* ------------------------------------------------SECCION CLIENTES--------------------------------------- */

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.card-s img{
    width: 15%;
}

/* ----------------------------------------SECCION NUESTROS SERVICIOS--------------------------------------- */

.titulo {
    color: #0F2027;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.card-img-top{
    width: 100%;
    height: 250px;
}

.about-services {
    background: #f2f2f2;
}

.card-text{
    color: #000;
}

.card-title{
    text-align: center;
}

/* ----------------------------------------SECCION CONTACTO--------------------------------------- */

.contenedor-contacto {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

input {
    width: 100%;
    border: 1px solid #000;
    padding: 1em;
}

textarea {
    width: 100%;
    border: 1px solid #000;
    padding: 1em;
}

.wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

.contacto {
    background: #203a4373;
    color: #fff;
    border-radius: 6px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.mensaje {
    grid-column: 1 / 3;
}

button {
    background: lightgrey;
    width: 100%;
    border: 0;
    border: 1px solid #000;
    padding: 1em;
}

button:hover,
button:focus {
    background: #203a4373;
    outline: 0;
}

/* ------------------------------------------------SECCION COMPRAR----------------------------------------- */

#galery img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

#galery .col-lg-4 {
    padding: 15px;
    margin: 0 !important;
}

#galery img:hover {
    border: 5px solid #ffffff;
}

/* ---------------------------------------------SECCION UNITE--------------------------------------------- */

.accordion{
    width: 70%;
    padding: 1rem;
    margin: auto;
}

/* ------------------------------------------------SECCION ACERCA DE--------------------------------------- */

.sec{
    background: #fff;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content{
    position: relative;
    text-align: center;
    width: 100%;
}

.us{
    max-width: 800px;
    margin: 0 auto;
}

.bot-sec{
    display: inline-block;
    background: #000;
    color:#fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 6px;
}

/* ------------------------------------------------SECCION FOOTER------------------------------------------ */

footer {
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foot {
    text-align: center;
}

.content-foot h4 {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid #2c5364;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foot P{
    color: #fff;
}


/* ------------------------------------------------MEDIA QUERYS-------------------------------------------- */


@media (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper>* {
        padding: 2em 2em;
    }
}

@media screen and (max-width: 900px) {
    header {
        background-position: center;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos {
        width: 90%;
    }

    .imagen-about-us {
        width: 90%;
    }

    /* Galeria */

    .imagen-port {
        width: 44%;
    }

    /* -------------------------------------------MEDIA QUERYS / CLIENTES---------------------------------- */


    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    /* ------------------------------------MEDIA QUERYS / NUESTROS SERVICIOS------------------------------- */

    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind {
        width: 100%;
        text-align: center;
    }

    .servicio-ind img {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {

    /* -------------------------------------------MEDIA QUERYS / FOOTER------------------------------------ */

    .contenedor-footer {
        flex-direction: column;
    }

    .content-foot {
        margin-bottom: 20px;
        text-align: center;
    }
}

