%boton{
    width: fit-content;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@mixin boton ($bgcolor , $textColor) {
    width: fit-content;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $bgcolor;
    color: $textColor;
}

